<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="app"></div>
    <script src='//cdn.bootcss.com/socket.io/2.0.3/socket.io.js'></script>
    <script>
        var socket = io('http://127.0.0.1:2120')

        socket.on('connect', function () {
            console.log('PHPSocketio连接成功')
        })

        // 监听PHPSocket.io推送的在线设备事件
        socket.on('onlineDevice', function (res) {
            console.log('收到在线设备广播事件', res)
        })
    </script>
</body>

</html>